{{ define "main" }}
<h1>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}</h1>
{{ if .IsHome }}{{ with site.Params.description }}<p class="site-description">{{ . }}</p>{{ end }}{{ end }}
{{ $pages := cond .IsHome site.RegularPages .RegularPages }}
<section>
  <ul class="post-list">
    {{ range $pages.ByDate.Reverse }}
    <li>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li class="empty">No articles published yet.</li>
    {{ end }}
  </ul>
</section>
{{ end }}
